body{
    background-color: #252525;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #465B65;
    padding-left: 5.5%;
    padding-right: 5.5%;
}

/* Chris Marcellus Header Style */

.logotxt{
    display: inline;
    float: left;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Cinzel', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 80px;
}

/* White Center Logo */

.logo_white{
    display:flex;
    height:60px;
    width:auto;
}

/* Header buttons */

.header-button{
    display: inline-block;
    background-color: transparent;
    padding: 10px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin-inline:31px;
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height:29px;
    color: white;
}

.header-button:hover{
    background: #1C209E;
    color: white;
}

.hbuttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Text styles */

h1{
    font-family: 'Cinzel', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    margin-top: 23px;
    margin-bottom: 23px;
    color: #FFFFFF;
}
h2{
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    margin-top: 23px;
    margin-bottom: 23px;
    color: #FFFFFF;
}
h3{
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
}
p{
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}
a{
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF; 
}
a:hover{
    color: #19ABB8;
}
.underline{
    text-decoration-line: underline;
}

/* Hero Image */

.heroimg{
    background-image: url(images/inspectrumcs.png);
    height: 400px;
    width: 100%;
    background-position: left;
    background-size: cover;
}

/* Top Text */

.toptxt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    border: 2px solid #FFFFFF;
    width: 855px;

}

/* Body Intro Text */

.introbody{
    margin: 54px 11%;
}

/* Expandable box */

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 36px;
    margin: 0px 11%;
    border: 3px solid #AEB5B9;
    font-family: 'Century';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    text-decoration: none;
}
.arrow{
    height: 20.5px;
}
.triquetra{
    
}
/* Conclusion Text */

.conclusion{
    margin: 54px 11% 72px;
}

/* Footer Style */

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background: #465B65;
    padding: 5px 5.5%;
}
.fleft{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    display: flex;
    width: 60px;
    height: 60px;
}

.socialmedia{
    margin-inline: 10px;
    height: 24px;
}

/*////////// 1220px //////////*/

@media only screen and (max-width: 1220px){
    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        }
    .logotxt{
        display: flex;
        float: none;
        text-align: none;

    }
    .logo_white{
        display: flex;
        position: static;
        margin-left: 20px;
        margin-right: 0%;
        height: 60px;
        width: auto;
    }
}
/*////////// 1125px //////////*/

@media only screen and (max-width: 1125px){
    header{
        height: 180px;
    }
    .right{
        margin-left: 20%;
    }
    footer{
        height: auto;
    }
}

/*////////// mobile //////////*/

@media only screen and (max-width: 800px){
    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 120px;
        }
    .logotxt{
        display: flex;
        float: none;
        text-align: none;
        padding-top: 17px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }
    .logo_white{
        display: flex;
        position: static;
        margin-left: 20px;
        margin-right: 0%;
        height: 40px;
        width: auto;
    }
    .header-button{
        margin-inline: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }
    footer{
        align-items: flex-start;
        padding: 0px 5.5%;
        height: 120px;
    }
    
    .logo{
        width: 40px;
        height: 40px;
        /* padding-top: 8px; */
        align-self: center;
    }
  
    
    h1{
        font-size: 40px;
        margin-top: 13px;
        margin-bottom: 13px;
    }
    h2{
        font-size: 32px;
        margin-top: 13px;
        margin-bottom: 13px;
    }
    h3{
        font-size: 28px;
    }
    p{
        font-size: 16px;
    }
    a{
        font-size: 16px;
    }
}